@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply w-full h-[100vh] bg-primaryColor;
  }
}

@layer components {
  .container {
    @apply max-w-full mx-auto bg-primaryColor;
  }

  .btn {
    @apply text-whiteColor text-[20px] py-4 px-4 mt-[36px] border border-solid border-greenBorder bg-greenBG font-semibold rounded-lg mb-4 hover:bg-primaryColor hover:text-greenBorder;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full;
  }
}